modal
fastapi
pydantic
torch
torchvision
git+https://github.com/huggingface/diffusers.git
transformers
accelerate
safetensors
huggingface-hub
ftfy
sentencepiece
timm
einops
pillow
numpy
imageio
imageio-ffmpeg
